<%= render :partial => "/shared/navbar" %>
<section>
  <h1>Upcoming events</h1>
<div><%= button_to "Create an event", new_event_path, method: :get, :id => "create-button" %></div><br>
<% @upcoming_events.each do |event| %>
  <div>
    <p><strong><%= link_to event.title, event_path(event) %></strong></p><br>
    <p><strong>Location: </strong><%= event.location %></p><br>
    <p><strong>Date: </strong><%= event.date.strftime('%m/%d/%Y') %></p><br>
    <p><strong>Start Time: </strong><%= event.time.strftime('%H:%M') %></p><br>
  </div><br>
<% end %>
</section>
<section>
  <h1>Past events</h1>
<% @past_events.each do |event| %>
  <div>
    <p><strong><%= link_to event.title, event_path(event) %></strong></p><br>
    <p><strong>Location: </strong><%= event.location %></p><br>
    <p><strong>Date: </strong><%= event.date.strftime('%m/%d/%Y') %></p><br>
    <p><strong>Start Time: </strong><%= event.time.strftime('%H:%M') %></p><br>
  </div><br>
<% end %>
</section>
