<%= render :partial => "/shared/navbar" %>
<section>
  <h1><%= @event.title %></h1>
  <h3><%= @event.location %></h3>
  <h2 class="form-dividing-text">Event Details</h2><br>
  <p><strong>Date: </strong><%= @event.date.strftime('%m/%d/%Y') %></p><br>
  <p><strong>Start Time: </strong><%= @event.time.strftime('%H:%M') %></p><br>
  <% user_name = @event.creator.first_name + " " + @event.creator.last_name %>
  <p><strong>Host:</strong> <%= link_to user_name, user_path(@event.creator_id) %></p>
  
  <div class="actions">
    <%= button_to "Attend Event", event_attendances_path(@event), :class => "button" %>
  </div>

</section>
<section>
  <h2 class="form-dividing-text">Attendees</h2><br>
  <% @event.attendees.each do |attendee| %>
  <p><%= attendee.first_name%> <%= attendee.last_name%></p>
  <% end %>

